.checkout {
  padding: 30px 120px;
}
.checkout__heading {
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}
.checkout__main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.checkout__cart-container {
  width: 70%;
  padding: 30px 30px;
  box-shadow: 0 0 10px gray inset;
}
.checkout__upper-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
}
.checkout__cart-text {
  font-weight: 600;
}
.checkout__quantity-text {
  font-weight: 600;
  font-size: 20px;
}
.checkout__lower-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0 10px;
}
.checkout__product-container {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 5fr 3fr 2fr 1fr;
  gap: 10px;
  grid-template-rows: 120px;
  align-items: center;
}
.checkout__product-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: 0 0 10px lightgray;
  border-radius: 5px;
}
.checkout__product-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.checkout__product-category {
  color: gray;
}
.checkout__product-title {
  font-weight: 600;
}
.checkout__quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout__quantity-btn {
  width: 24px;
  height: 24px;
  font-size: 16px;
  background-color: #F7B81B;
  border: 2px solid #E19410;
  border-radius: 5px;
  cursor: pointer;
}
.checkout__trash-icon {
  cursor: pointer;
}
.checkout__empty-container {
  width: 50%;
  margin: 50px auto 50px;
}
.checkout__empty-image {
  width: 100%;
  height: 100%;
}
.checkout__empty-text {
  text-align: center;
}
.checkout__shopping-link {
  color: #E19410;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
.checkout__product-quantity {
  width: 30px;
  text-align: center;
}
.checkout__summary-container {
  width: 30%;
  background-color: #DDDDDD;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 0 10px gray inset;
}
.checkout__summary-text {
  font-weight: 600;
}
.checkout__summary-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout__summary-item-quantity {
  font-size: 20px;
  font-weight: 600;
}
.checkout__summary-price {
  color: green;
  font-weight: 600;
  font-size: 24px;
}
.checkout__checkout-button {
  font-size: 16px;
  background-color: #F7B81B;
  border: 2px solid #E19410;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .checkout__main-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
  .checkout__cart-container {
    width: 100%;
    min-height: 70svh;
  }
  .checkout__summary-container {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .checkout {
    padding: 40px 30px;
  }
  .checkout__product-container {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 4fr 3fr 2fr 1fr;
    gap: 10px;
    grid-template-rows: 120px;
    align-items: center;
  }
  .checkout__product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px;
    overflow: hidden;
  }
}/*# sourceMappingURL=checkout.css.map */