<section class="checkout">
  <h1 class="checkout__heading">Checkout</h1>
  <div class="checkout__main-container">
    <div class="checkout__cart-container">
      <div class="checkout__upper-side">
        <h1 class="checkout__cart-text">Your Cart</h1>
        <span class="checkout__quantity-text">1 item</span>
      </div>
      <div class="checkout__lower-side">
        @for (product of cartProductsArray; track $index) {
        <div class="checkout__product-container">
          <img class="checkout__product-image" [src]="product.thumbnail" (error)="$event.target.src='/not_found.png'" alt="">
          <div class="checkout__product-div">
            <span class="checkout__product-category">{{product.category.name}}</span>
            <span class="checkout__product-title">{{product.title}}</span>
          </div>
          <div class="checkout__quantity-container">
            <button class="checkout__quantity-btn" (click)="decreaseQuantity(product._id, productArray[$index].quantity)" [disabled]="product.cartQuantity == 1">-</button>
            <span class="checkout__product-quantity">{{product.cartQuantity}}</span>
            <button class="checkout__quantity-btn" (click)="increaseQuantity(product._id, productArray[$index].quantity)">+</button>
          </div>
          <span class="checkout__product-price">{{product.price.current * product.cartQuantity}}{{product.price.currency}}</span>
          <i class="fa-solid fa-trash checkout__trash-icon" (click)="deleteItem(product._id)"></i>
        </div>
        }
        @empty {
          <div class="checkout__empty-container">
            <img class="checkout__empty-image" src="/empty_cart.png" alt="">
            <p class="checkout__empty-text">No Products Found. <span class="checkout__shopping-link" routerLink="/">go shopping</span></p>
          </div>
        }
      </div>
    </div>
    <div class="checkout__summary-container">
      <h1 class="checkout__summary-text">Summary</h1>
      <hr>
      <div class="checkout__summary-div">
        <span class="checkout__summary-item-quantity">TOTAL:</span>
        <span class="checkout__summary-price">{{totalPrice}}$</span>
      </div>
      <hr>
      <button class="checkout__checkout-button" (click)="checkoutCart()" [disabled]="dissableCheckout">CHECKOUT</button>
      @if (emptyCartError) {
        <p class="checkout__empty-text checkout__empty-text--red">Your cart is empty. Go to <span class="checkout__empty-link" routerLink="/">home</span> page to start shopping</p>
      }
    </div>
  </div>
</section>
