.checkout{
  padding: 30px 120px;
  &__heading{
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
  }
  &__main-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
  }
  &__cart-container{
    width: 70%;
    padding: 30px 30px;
    box-shadow: 0 0 10px gray inset;
  }
  &__upper-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
  }
  &__cart-text{
    font-weight: 600;
  }
  &__quantity-text{
    font-weight: 600;
    font-size: 20px;
  }
  &__lower-side{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 10px;
  }
  &__product-container{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 5fr 3fr 2fr 1fr;
    gap: 10px;
    grid-template-rows: 120px;
    align-items: center;
  }
  &__product-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0 0 10px lightgray;
    border-radius: 5px;
  }
  &__product-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__product-category{
    color: gray;
  }
  &__product-title{
    font-weight: 600;
  }
  &__quantity-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  &__quantity-btn{
    width: 24px;
    height: 24px;
    font-size: 16px;
    background-color: #F7B81B;
    border: 2px solid #E19410;
    border-radius: 5px;
    cursor: pointer;
  }
  &__trash-icon{
    cursor: pointer;
  }
  &__empty-container{
    width: 50%;
    margin: 50px auto 50px;
  }
  &__empty-image{
    width: 100%;
    height: 100%;
  }
  &__empty-text{
    text-align: center;
    &--red{
      color: red;
    }
  }
  &__empty-link{
    text-decoration: underline;
    cursor: pointer;
  }
  &__shopping-link{
    color: #E19410;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
  &__product-quantity{
    width: 30px;
    text-align: center;
  }








  &__summary-container{
    width: 30%;
    background-color: #DDDDDD;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 0 10px gray inset;
  }
  &__summary-text{
    font-weight: 600;
  }
  &__summary-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__summary-item-quantity{
    font-size: 20px;
    font-weight: 600;
  }
  &__summary-price{
    color: green;
    font-weight: 600;
    font-size: 24px;
  }
  &__checkout-button{
    font-size: 16px;
    background-color: #F7B81B;
    border: 2px solid #E19410;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
  }
}


@media screen and (max-width: 1100px) {
  .checkout{
    &__main-container{
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;
    }
    &__cart-container{
      width: 100%;
      min-height: 70svh;
    }
    &__summary-container{
      width: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  .checkout{
    padding: 40px 30px;
    &__product-container{
      width: 100%;
      display: grid;
      grid-template-columns: 3fr 4fr 3fr 2fr 1fr;
      gap: 10px;
      grid-template-rows: 120px;
      align-items: center;
    }
    &__product-title{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 40px;
      overflow: hidden;
    }
  }
}



@media screen and (max-width: 550px){
  .checkout{
    &__lower-side{
      gap: 20px;
      padding: 20px 0 10px;
    }
    &__product-container{
      padding-bottom: 20px;
      border-bottom: 1px solid rgb(150, 150, 150);
      grid-template-columns: 4fr 4fr 3fr 1fr;
      grid-template-rows: 90px 35px;
    }
    &__product-image{
      grid-row: 1 / 3;
      grid-column: 1 / 2;
    }
    &__product-div{
      grid-row: 1 / 2;
      grid-column: 2 / 4;
      padding: 10px;
      border-bottom: 1px solid rgb(180, 180, 180)
    }
    &__quantity-container{
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
    &__product-price{
      grid-row: 2 / 3;
      grid-column: 3 / 4;
      align-self: center;
      justify-self: center;
    }
    &__trash-icon{
      grid-row: 1 / 3;
      grid-column: 4 / 5;
      align-self: center;
      justify-self: center;
      font-size: 20px;
    }
  }
}



@media screen and (max-width: 450px){
  .checkout{
    &__product-container{
      grid-template-columns: 5fr 4fr 3fr 1fr;
      grid-template-rows: 90px 35px;
      gap: 5px;
    }
  }
}


@media screen and (max-width: 425px){
  .checkout{
    padding: 30px 20px;
    &__cart-container{
      padding: 20px;
    }
    &__product-container{
      grid-template-columns: 5fr 3fr 4fr 1fr;
      grid-template-rows: 90px 35px;
      gap: 5px;
    }
    &__product-div{
      grid-row: 1 / 2;
      grid-column: 2 / 5;
    }
    &__trash-icon{
      grid-row: 2 / 3;
    }
  }
}