.not-found{
  height: calc(100vh - 80px);
  &__main-container{
    padding: 50px 0 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  &__image{
    height: 75%;
    
    object-fit: contain;
  }
  &__main-text{
    font-size: 54px;
    &--secondary{
      font-size: 36px;
    }
  }

}