.signin{
  &__form{
    width: 500px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 18px;
    padding: 30px 20px 20px;
  }
  &__signin-text{
    font-size: 30px;
    text-align: center;
  }
  &__input-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &__label{
    color: #c29115;
    font-weight: 600;
  }
  &__input{
    outline: none;
    border: 2px solid gray;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    padding-inline: 10px;
  }
  &__input.ng-dirty.ng-invalid.ng-touched{
    border: 2px solid red;
  }
  &__error-field{
    width: 100%;
    height: 100%
  }
  &__error-text{
    color: red;
    font-weight: 600;
    &--valid{
      color: green;
    }
  }
  &__submit-button{
    width: 80%;
    height: 35px;
    justify-self: center;
    align-self: center;
    font-size: 17px;
    border: 2px solid #c29115;
    border-radius: 5px;
    background-color: #FCBE1D;
    cursor: pointer;
  }
  &__dont-have-an-acc{
    text-align: center;
  }
  &__signup-link{
    color: #c29115;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
}


.success{
  position: fixed;
  z-index: 21;
  width: 600px;
  height: 170px;
  background-color: white;
  box-shadow: 0 0 10px 10px darkgray;
  border-radius: 10px;
  top: 300px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 30px 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: success .5s ease-out forwards;
  &__text{
    text-align: center;
    font-weight: 600;
    color: green;
    font-size: 28px;
    font-family: cursive;
  }
}

@keyframes success {
  0%{
    transform: translate(-50%, -400%);
  }
  100%{
    transform: translate(-50%, 0);
  }
}

@keyframes backgrounds {
  0%{
    display: none;
    backdrop-filter: blur(0);
    z-index: -1;
    background-color: rgba(0, 0, 0, 0);
  }
  1%{
    display: unset;
  }
  100%{
    backdrop-filter: blur(3px);
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.489);
  }
}

.background{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.489);
  backdrop-filter: blur(3px);
  z-index: 20;
  animation: backgrounds .5s ease-out forwards;
}


@media screen and (max-width: 600px) {
  .signin{
    &__form{
      width: 100%;
      border: none;
      margin: 30px auto 0;
      padding: 20px 50px 20px;
    }
    &__error-text{
      color: red;
      font-weight: 600;
      font-size: 14px;
      &--valid{
        color: green;
      }
    }
    &__submit-button{
      width: 100%;
    }
  }

  .success{
    width: 80%;
    height: 200px;
    border-radius: 5px;
    &__text{
      font-size: 24px;
    }
  }
}



@media screen and (max-width: 425px){
  .signin{
    &__form{
      margin: 30px auto 0;
      padding: 20px 30px 20px;
    }
  }

  .success{
    width: 100%;
    border-radius: 0;
  }
}