
.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 80px;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px 80px;
  background-color: white;
  &__logo{
    cursor: pointer;
    font-weight: 600;
    color: #E19410;
  }
  &__account-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  &__cart-logo{
    font-size: 24px;
    cursor: pointer;
  }
  &__signin-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #F7B81B;
    border: 2px solid #E19410;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    &--active{
      background-color: #E19410;
    }
  }
  &__signup-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #F7B81B;
    border: 2px solid #E19410;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    &--active{
      background-color: #E19410;
    }
  }
}

.just-to-take-bg-space{
  width: 100%;
  height: 80px;
}