
.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 80px;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px 80px;
  background-color: white;
  &__logo{
    cursor: pointer;
    font-weight: 600;
    color: #E19410;
  }
  &__account-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  &__cart-logo{
    font-size: 24px;
    cursor: pointer;
    &--mobile{
      display: none;
    }
  }
  &__signin-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #F7B81B;
    border: 2px solid #E19410;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    &--active{
      background-color: #E19410;
    }
  }
  &__signup-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #F7B81B;
    border: 2px solid #E19410;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    &--active{
      background-color: #E19410;
    }
  }
  &__profile-container{
    min-width: 0px;
    max-width: 200px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    &--mobile{
      position: absolute;
      left: 20px;
      top: 18px;
      z-index: 2;
      height: 50px;
    }
  }
  &__user-avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    &--mobile{
      height: 50px;
      width: 50px
    }
  }
  &__username{
    &--mobile{
      font-size: 20px;
    }
  }
  &__logout-icon{
    transform: rotate(180deg);
  }
  &__logout-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #F7B81B;
    border: 2px solid #E19410;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
  }



  &__mobile-menu{
    display: none;
  }
  &__bars-logo{
    display: none;
  }
  
}

.just-to-take-bg-space{
  width: 100%;
  height: 80px;
}

@media screen and (max-width: 800px) {
  .header{
    justify-content: end;
    padding-inline: 40px;
    gap: 30px;
    &__logo{
      margin-right: auto;
    }
    &__cart-logo{
      display: none;
      &--mobile{
        display: unset !important;
      }
    }
    &__account-info{
      &--desktop{
        display: none;
      }
    }
    &__bars-logo{
      display: unset;
      font-size: 24px;
      cursor: pointer;
    }
    &__mobile-menu{
      display: unset;
      position: fixed;
      top:0;
      right:0;
      z-index: 12;
      background-color: white;
      width: 300px;
      height: 100%;
      transform: translateX(101%);
      transition: .3s;
      padding: 100px 10px;
      overflow-y: auto;
      &--active{
        transform: translateX(0);
        transition: .3s;
      }
    }
    &__xmark{
      position: absolute;
      top: 30px; 
      right: 30px;
      font-size: 24px;
    }
    &__signup-container{
      &--mobile{
        position: absolute;
        top: 80px;
        left: 20px;
      }
    }
    &__signin-container{
      &--mobile{
        position: absolute;
        top: 20px;
        left: 20px;
      }
    }
    &__mobile-ul{
      position: absolute;
      width: 100%;
      left: 0;
      top: 180px;
      padding: 10px 40px;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
    }
    &__mobile-li{
      cursor: pointer;
      font-size: 20px;
      &--active{
        color: #E19410;
      }
    }
  }
}