.signup{
  &__form{
    width: 500px;
    margin: 50px auto 0;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 3fr 2fr;
    gap: 20px 20px;
  }
  &__register-text{
    grid-column: 1 / span 2;
    text-align: center;
    font-size: 30px;
  }
  &__input-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
  }
  &__label{
    font-size: 16px;
    font-weight: 600;
    color: #C29115;
  }
  &__input{
    border: 2px solid gray;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    padding-inline: 10px;
    outline: none;
  }
  &__input.ng-dirty.ng-invalid.ng-touched{
    border: 2px solid red;
  }
  &__submit-btn{
    grid-column: 1 / span 2;
    height: 36px;
    width: 80%;
    justify-self: center;
    align-self: center;
    background-color: #FCBE1D;
    border: 2px solid #C29115;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
  }
  &__error-field{
    width: 100%;
    height: 100%;
    grid-column: 1 / span 2;
  }
  &__error-text{
    color: red;
    font-weight: 600;
    &--valid{
      color: green;
    }
  }
  &__existing-account-text{
    text-align: center;
    grid-column: 1 / span 2;
    align-self: flex-start;
    justify-self: center;
  }
  &__signin-link{
    color:#C29115;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
  }
}

.success{
  position: fixed;
  z-index: 21;
  width: 600px;
  height: 170px;
  background-color: white;
  box-shadow: 0 0 10px 10px darkgray;
  border-radius: 10px;
  top: 300px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 30px 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: success .5s ease-out forwards;
  &__text{
    text-align: center;
    font-weight: 600;
    color: green;
    font-size: 28px;
    font-family: cursive;
  }
}

@keyframes success {
  0%{
    transform: translate(-50%, -400%);
  }
  100%{
    transform: translate(-50%, 0);
  }
}

@keyframes backgrounds {
  0%{
    display: none;
    backdrop-filter: blur(0);
    z-index: -1;
    background-color: rgba(0, 0, 0, 0);
  }
  1%{
    display: unset;
  }
  100%{
    backdrop-filter: blur(3px);
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.489);
  }
}

.background{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.489);
  backdrop-filter: blur(3px);
  z-index: 20;
  animation: backgrounds .5s ease-out forwards;
}