.signup{
  &__form{
    width: 500px;
    margin: 50px auto 0;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 20px 20px;
  }
  &__register-text{
    grid-column: 1 / span 2;
    text-align: center;
    font-size: 30px;
  }
  &__input-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
  }
  &__label{
    font-size: 16px;
    font-weight: 600;
    color: #C29115;
  }
  &__input{
    border: 2px solid gray;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    padding-inline: 10px;
    outline: none;
  }
  &__submit-btn{
    grid-column: 1 / span 2;
    height: 36px;
    width: 80%;
    justify-self: center;
    align-self: center;
    background-color: #FCBE1D;
    border: 2px solid #C29115;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
  }
}