.profile{
  position: relative;
  box-shadow: 0 0 10px gray;
  &__bg-wallpaper{
    height: 40vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  &__user-info-container{
    position: relative;
    padding: 0 100px 0;
    width: 100%;
    display: flex;
    gap: 80px;
  }
    &__avatar{
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    transform: translateY(-20%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: contain;
    border: 6px solid white;
    cursor: pointer;
  }
  &__user-info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
  }
  &__username{
    font-weight: 600;
    font-size: 40px;

  }
  &__lorem-text{
    font-weight: 400;

  }
  &__icon-container{
    display: flex;
    align-items: center;
    gap: 20px;
    color: gray;
  }
}