/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: main;
  src: url(/Barlow/Barlow-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: main;
  src: url(/Barlow/Barlow-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: main;
  src: url(/Barlow/Barlow-Medium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: main;
  src: url(/Barlow/Barlow-Regular.ttf);
  font-weight: 300;
}
@font-face {
  font-family: main;
  src: url(/Barlow/Barlow-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: main;
  src: url(/Barlow/Barlow-Thin.ttf);
  font-weight: 100;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: main;
  -webkit-tap-highlight-color: transparent;
}

html{
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;

}

#n8n-chat{
  .chat-window-toggle{
    background-color: #c29115;
  }
  .chat-input-send-button:enabled{
    color: #c29115;
  }
  .chat-message-from-user{
    background-color: #F7B81B;
  }
}


