<main class="main">
  <section class="banner">
  </section>
</main>
<section class="wrapper">
  <aside [class.filter--mobile]="showFilter" #filter class="filter">
    <i (click)="showFilter = !showFilter" class="fa-solid fa-xmark filter__xmark"></i>
    <h2 class="filter__heading">Search Here</h2>
    <input class="filter__search-input" type="text" placeholder="Search..." [(ngModel)]="keywords">
    <h2 class="filter__heading">Category</h2>
    <select [(ngModel)]="categoryId" class="filter__category-select">
        <option value="">Select a Category</option>
      @for (category of allCategories; track $index) {
        <option [value]="category.id">{{category.name}}</option>
      }
    </select>
    <h2 class="filter__heading">Brands</h2>
    <ul class="filter__brands-container">
      @for (brand of allBrands; track $index) {
        <label class="filter__brand" (click)="pickBrand(brand)" [style.color]="brand == selectedBrand ? '#FCBD20' : 'black'">{{brand.toUpperCase()}}</label>
      }
    </ul>
    <h2 class="filter__heading">Price</h2>
    <div class="filter__price-container">
      <input class="filter__price-input" type="text" placeholder="Min" [(ngModel)]="minPrice">
      <input class="filter__price-input" type="text" placeholder="Max" [(ngModel)]="maxPrice">
    </div>
    <h2 class="filter__heading">Rating</h2>
    <input class="filter__rating-input" type="range" min="1" max="5" [(ngModel)]="rating">
    <button class="filter__filter-button" (click)="filterProducts(); showFilter = !showFilter">Filter</button>
  </aside>
  <div class="main-container">
    <div class="category-container">
      <div [class.category-container__category--picked]="pickedCategory == -1" class="category-container__category category-container__category--all" (click)="getAllProducts(); pickedCategory = -1">
        <img class="category-container__category-image category-container__category-image--all" src="/allCategories.png" alt="">
        <span class="category-container__category-name">All</span>
      </div>
      @for (category of allCategories; track $index) {
        <div [class.category-container__category--picked]="pickedCategory == $index" class="category-container__category" (click)="pickCategory(category.id, $index)">
          <img class="category-container__category-image" [src]="category.image" alt="">
          <span class="category-container__category-name">{{category.name}}</span>
        </div>
      }
      <span (click)="showFilter = !showFilter" class="category-container__filter-button"><i class="fa-solid fa-filter"></i> filter</span>
    </div>
    <div class="products-container">
      @for (product of allProducts; track $index) {
        <div class="card">
          <div class="card__images-container">
            <img class="card__image card__image--primary" [src]="product.thumbnail" (error)="$event.target.src='/not_found.png'" alt="">            
            <img class="card__image card__image--secondary" [src]="product.images[0]" (error)="$event.target.src='/not_found.png'" alt="">            
          </div>
          <div class="card__lower-side">
            <h3 class="card__title">{{product.title}}</h3>
            <p class="card__description">{{product.description}}</p>
            <p class="card__rating">Rating: <span [style.color]="product.rating > 4 ? 'green' : product.rating > 3 ? 'limegreen' : product.rating > 2 ? 'orange' : 'red'">{{(product.rating).toFixed(1)}}</span>/5</p>
            <div class="card__price-container">
              @if (product.price.discountPercentage != 0) {
                <span class="card__price card__price--new">{{product.price.current}} {{product.price.currency}}</span>
                <span class="card__price card__price--old">{{product.price.beforeDiscount}} {{product.price.currency}}</span>
              } @else if (product.price.discountPercentage == 0) {
                <span class="card__price card__price--no-discount">{{product.price.current}} {{product.price.currency}}</span>
              }
            </div>
            <div class="card__buttons-container">
              <button (click)="goToDetails(product._id)" class="card__details-button">Go to details</button>
              <div class="card__cart-container"><i class="fa-solid fa-basket-shopping filter__cart-icon"></i></div>
            </div>
          </div>
        </div>
      }
      @empty {
        <img class="no-product-image" src="/no-product-found.png" alt="">
      }
    </div>
    <div class="page-navigator-container">
      <div class="navigator-box" (click)="reducePage()">
        <span class="navigator-box__arrow">&lt; Prev</span>
      </div>
      @for (item of loopXTimes; track $index) {
      <div (click)="changePage($index + 1)" [style.backgroundColor]="currentPage == $index + 1 ? '#c29115' : '#FCBD20'" class="navigator-box navigator-box--index">
        <span class="navigator-box__page-index">{{$index + 1}}</span>
      </div>
      }
      <div class="navigator-box" (click)="increasePage()">
        <span class="navigator-box__arrow">Next &gt;</span>
      </div>
    </div>
  </div>
</section>
