.product {
  min-height: 80vh;
  padding: 30px;
}
.product__grid-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-auto-rows: minmax(0, 33vw);
  gap: 10px;
}
.product__images-container {
  width: 100%;
  height: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.product__main-image-container {
  width: 100%;
  height: 84%;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
}
.product__main-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__side-images-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  height: 16%;
  width: 100%;
}
.product__side-image {
  height: 100%;
  width: 15%;
  border: 1px solid gray;
  border-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
.product__side-image--active {
  border: 2px solid blue;
}
.product__info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px 0;
}
.product__rate {
  text-decoration: underline;
  color: #C29115;
  cursor: pointer;
}
.product__title {
  font-weight: 600;
  line-height: 40px;
  font-size: 35px;
  color: #C29115;
}
.product__rating-container {
  display: flex;
  align-items: center;
  gap: 4px;
}
.product__rating-text {
  font-weight: 400;
  font-size: 20px;
}
.product__star {
  color: #FCBE21;
  font-size: 20px;
}
.product__half-star {
  color: #FCBE21;
  font-size: 20px;
}
.product__stock-container {
  display: flex;
  align-items: center;
  gap: 4px;
}
.product__stock-x {
  color: red;
  font-size: 18px;
}
.product__stock-check {
  color: green;
  font-size: 18px;
}
.product__stock {
  font-size: 18px;
}
.product__stock--false {
  color: red;
}
.product__stock--true {
  color: green;
}
.product__info-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
.product__info-li {
  color: rgb(97, 97, 97);
}
.product__description {
  color: rgb(97, 97, 97);
  line-height: 22px;
  font-size: 15px;
}
.product__cart-container {
  position: sticky;
  top: 105px;
  width: 100%;
  min-height: 80%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 40px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product__discountPercentage {
  position: absolute;
  right: -1px;
  top: -1px;
  background-color: #FCBE21;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  padding: 4px 9px;
  box-shadow: -2px 2px 10px #FCBE21;
}
.product__price-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.product__price {
  font-weight: 600;
}
.product__price--current {
  color: green;
  font-size: 36px;
}
.product__price--old {
  text-decoration: line-through;
  color: black;
  font-size: 18px;
}
.product__quantity-container {
  width: 120px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  border-radius: 5px;
}
.product__quantity-button {
  padding-inline: 10px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.product__cart-quantity {
  font-size: 22px;
  font-weight: 600;
}
.product__addtocart-button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #FCBE21;
  border: 2px solid #C29115;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}
.product__addtocart-button--success {
  background-color: green;
  border: 2px solid rgb(0, 90, 0);
  transition: 0.3s;
  color: white;
  pointer-events: none;
}
.product__addtocart-button--success::after {
  font-family: "Font Awesome 7 Free"; /* or 5 if you're using FA5 */
  font-weight: 900; /* required for solid icons */
  content: "\f00c";
  margin-left: 6px;
}
.product__cart-icon {
  font-size: 20px;
}
.product__warranty-text {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.product__warranty {
  font-size: 26px;
  font-weight: 600;
  color: green;
}
.product__fail-text {
  color: black;
  font-weight: 400;
  font-size: 18px;
}
.product__signin-link {
  color: #C29115;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
.product__cart-error-text {
  color: red;
}
.product__cart-success-text {
  color: green;
}

.rate-container {
  position: fixed;
  width: 300px;
  height: 300px;
  padding: 50px 0 0;
  box-shadow: 0 0 10px gray;
  background-color: white;
  z-index: 13;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  gap: 20px;
}
.rate-container__xmark {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3;
  cursor: pointer;
}
.rate-container__text {
  font-size: 18px;
}
.rate-container__text--secondary {
  color: #C29115;
  font-weight: 600;
}
.rate-container__text--error {
  color: red;
  font-weight: 600;
}
.rate-container__input {
  outline: none;
  border-radius: 5px;
  border: 2px solid #C29115;
  height: 40px;
  width: 70px;
  font-size: 20px;
  padding: 0 10px 0;
}
.rate-container__submit-button {
  width: 150px;
  height: 30px;
  font-size: 16px;
  background-color: #FCBE21;
  border: 2px solid #C29115;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .product__grid-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-auto-rows: minmax(0, 38vw);
    gap: 10px;
  }
  .product__cart-container {
    height: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .product__grid-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-auto-rows: minmax(0, 42vw);
    gap: 10px;
  }
}
@media screen and (max-width: 900px) {
  .product__grid-container {
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-auto-rows: minmax(0, 50vw);
    gap: 100px 20px;
  }
  .product__info-container {
    gap: 10px;
  }
  .product__title {
    font-size: 28px;
    line-height: 33px;
  }
  .product__description {
    height: 150px;
    overflow-y: auto;
  }
  .product__cart-container {
    grid-column: 1/span 2;
  }
}
@media screen and (max-width: 700px) {
  .product__grid-container {
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-auto-rows: minmax(0, 65vw);
    gap: 100px 20px;
  }
}
@media screen and (max-width: 600px) {
  .product__grid-container {
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, 75vw);
    gap: 40px;
  }
  .product__cart-container {
    grid-column: 1/2;
  }
}/*# sourceMappingURL=details.css.map */