.product{
  min-height: 80vh;
  padding: 30px;
  &__grid-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-auto-rows: minmax(0, 33vw);
    gap: 10px;
  }
  &__images-container{
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  &__main-image-container{
    width: 100%;
    height: 84%;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
  }
  &__main-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__side-images-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    height: 16%;
    width: 100%;
  }
  &__side-image{
    height: 100%;
    width: 15%;
    border: 1px solid gray;
    border-radius: 5px; 
    object-fit: contain;
    cursor: pointer;
    &--active{
      border: 2px solid blue;
    }
  }

  &__info-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px 0;
  }
  &__rate{
    text-decoration: underline;
    color: #C29115;
    cursor: pointer;
  }
  &__title{
    font-weight: 600;
    line-height: 40px;
    font-size: 35px;
    color:#C29115;
  }
  &__rating-container{
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &__rating-text{
    font-weight: 400;
    font-size: 20px;
  }
  &__star{
    color: #FCBE21;
    font-size: 20px;

  }
  &__half-star{
    color: #FCBE21;
    font-size: 20px;
  }
  &__stock-container{
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &__stock-x{
    color: red;
    font-size: 18px;
  }
  &__stock-check{
    color: green;
    font-size: 18px;
  }
  &__stock{
    font-size: 18px;
    &--false{
      color: red;
    }
    &--true{
      color: green;
    }
  }
  &__info-ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
  }
  &__info-li{
    color: rgb(97, 97, 97);
  }

  &__description{
    color: rgb(97, 97, 97);
    line-height: 22px;
    font-size: 15px;
  }
  &__cart-container{
    position: sticky;
    top: 105px;
    width: 100%;
    min-height: 80%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 40px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__discountPercentage{
    position: absolute;
    right: -1px;
    top: -1px;
    background-color: #FCBE21;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 22px;
    font-weight: 600;
    padding: 4px 9px;
    box-shadow: -2px 2px 10px #FCBE21;

  }
  &__price-container{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__price{
    font-weight: 600;
    &--current{
      color: green;
      font-size: 36px;
    }
    &--old{
      text-decoration: line-through;
      color: black;
      font-size: 18px;
    }
  }
  &__quantity-container{
    width: 120px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
    border-radius: 5px;
  }
  &__quantity-button{
    padding-inline: 10px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__cart-quantity{
    font-size: 22px;
    font-weight: 600;
  }
  &__addtocart-button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #FCBE21;
    border: 2px solid #C29115;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
    &--success{
      background-color: green;
      border: 2px solid rgb(0, 90, 0);
      transition: .3s;
      color: white;
      pointer-events: none;
    }
    &--success::after{
      font-family: "Font Awesome 7 Free"; /* or 5 if you're using FA5 */
      font-weight: 900;                   /* required for solid icons */
      content: "\f00c";
      margin-left: 6px;
    }
  }
  &__cart-icon{
    font-size: 20px;
  }
  &__warranty-text{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &__warranty{
    font-size: 26px;
    font-weight: 600;
    color: green;
  }
  &__fail-text{
    color: black;
    font-weight: 400;
    font-size: 18px;
  }
  &__signin-link{
    color: #C29115;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
  &__cart-error-text{
    color :red;
    
  }
  &__cart-success-text{
    color: green;
  }
}


.rate-container{
  position: fixed;
  width: 300px;
  height: 300px;
  padding: 50px 0 0;
  box-shadow: 0 0 10px gray;
  background-color: white;
  z-index: 13;
  left: 50%;
  top: 50%;
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  gap: 20px;
  &__xmark{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 3;
    cursor: pointer;
  }
  &__text{
    font-size: 18px;
    &--secondary{
      color:#C29115;
      font-weight: 600;
    }
    &--error{
      color: red;
      font-weight: 600;
    }
    &--success{
      color: green;
      font-weight: 600;
    }
  }
  &__input{
    outline: none;
    border-radius: 5px;
    border: 2px solid #C29115;
    height: 40px;
    width: 70px;
    font-size: 20px;
    padding: 0 10px 0;
  }
  &__submit-button{
    width: 150px;
    height: 30px;
    font-size: 16px;
    background-color: #FCBE21;
    border: 2px solid #C29115;
    border-radius: 5px;
    cursor: pointer;
  }
}



@media screen and (max-width: 1150px) {
  
  .product{
      &__grid-container{
      position: relative;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 4fr 4fr 4fr;
      grid-auto-rows: minmax(0, 38vw);
      gap: 10px;
    }
    &__cart-container{
      height: 100%
    }
  }
}

@media screen and (max-width: 1000px){
  .product{
    &__grid-container{
      position: relative;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 4fr 4fr 4fr;
      grid-auto-rows: minmax(0, 42vw);
      gap: 10px;
    }  
  }
}


@media screen and (max-width: 900px){
  .product{
    &__grid-container{
      padding: 20px;
      position: relative;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 3fr 4fr;
      grid-auto-rows: minmax(0, 50vw);
      gap: 100px 20px;
    }  
    &__info-container{
      gap: 10px;
    }
    &__title{
      font-size: 28px;
      line-height: 33px;
    }
    &__description{
      height: 150px;
      overflow-y: auto;
    }
    &__cart-container{
      grid-column: 1 / span 2;
    }
  }
}


@media screen and (max-width: 700px){
  .product{
    &__grid-container{
      padding: 20px;
      position: relative;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 3fr 4fr;
      grid-auto-rows: minmax(0, 65vw);
      gap: 100px 20px;
    }
  }  
}


@media screen and (max-width: 600px){
  .product{
    &__grid-container{
      padding: 20px;
      position: relative;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(0, 75vw);
      gap: 40px;
    }
    &__cart-container{
      grid-column: 1 / 2;
    }
  }  
}